<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/opt/homebrew/bin:/opt/homebrew/sbin:</string>
    </dict>
    <key>Label</key>
      <string>com.clamav_cron</string>
    <key>StartCalendarInterval</key>
    <dict>
      <key>Minute</key>
      <integer>00</integer>
      <key>Hour</key>
      <integer>16</integer>
      <key>Weekday</key>
      <integer>5</integer>
    </dict>
    <key>Program</key>
    <string>/var/root/.clamav/clamav_cron.sh</string>
  </dict>
</plist>
